* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #09beaf;
  --color-1: #ff0000;
  --color-2: #00ff00;
  --color-3: #0000ff;
  --color-4: #ffff00;
  --color-5: #ff00ff;
  --color-6: #00ffff;
  --color-7: #ffa500;
  --color-8: #800080;
  --color-9: #808080;
  --color-10: #000000;
  --color-11: #411717;
  --color-12: #008000;
  --color-13: #800000;
  --color-14: #008080;
  --color-15: #4b0082;
  --color-16: #a52a2a;
  --color-17: #f5deb3;
  --color-18: #4682b4;
  --btn-text: rgb(9, 116, 116);
  --btn-hover: #4098a3;
}

header {
  text-align: center;
  font-size: 60px;
  background-color: var(--header-bg-color);
  color: rgb(20, 37, 41);
  margin: 0;
  padding: 15px;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px 80px;
  margin: 10px 30px 10px 30px;
}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 40px;
}

.color-option {
  position: relative;
}

input[type="radio"] {
  display: none;
}

.circle {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
  overflow: hidden;
}

.circle:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

input[type="radio"]:checked + .circle {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

input[type="radio"]:checked + .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 25px;
  border: solid white;
  opacity: 0.6;
  border-width: 0 4px 4px 0;
  transform: translate(-50%, -60%) rotate(45deg);
  z-index: 2;
}

/* button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
  height: 3rem;
  border: 2px solid rgb(187, 183, 183);
  background-color: transparent;
  color: var(--btn-text);
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--btn-hover);
  
  color: white;
  border-color: transparent;
  border-radius: 12px;
  transform: scale(1.05);
} */

.c1 {
  background-color: var(--color-1);
}
.c2 {
  background-color: var(--color-2);
}
.c3 {
  background-color: var(--color-3);
}
.c4 {
  background-color: var(--color-4);
}
.c5 {
  background-color: var(--color-5);
}
.c6 {
  background-color: var(--color-6);
}
.c7 {
  background-color: var(--color-7);
}
.c8 {
  background-color: var(--color-8);
}
.c9 {
  background-color: var(--color-9);
}
.c10 {
  background-color: var(--color-10);
}
.c11 {
  background-color: var(--color-11);
}
.c12 {
  background-color: var(--color-12);
}
.c13 {
  background-color: var(--color-13);
}
.c14 {
  background-color: var(--color-14);
}
.c15 {
  background-color: var(--color-15);
}
.c16 {
  background-color: var(--color-16);
}
.c17 {
  background-color: var(--color-17);
}
.c18 {
  background-color: var(--color-18);
}
